# Mod 1 Movie Project

#### Scrape the DVD / Blue Ray sales from https://www.the-numbers.com/
1. Use beautiful soup to connect to the-numbers.com 
2. scrape the top DVD sales for 2018
3. Scrape the top blue ray sales for 2018

In [132]:
import requests

#### Use the request library to pull the contents of the 2018 DVD sales web page

In [137]:
# Top DVD Sales from 2018 https://www.the-numbers.com/home-market/dvd-sales/2018
top_dvd = requests.get("https://www.the-numbers.com/home-market/dvd-sales/2018")
top_dvd.status_code

Import beautiful soup.  Create variable dvd_soup to hold contents of top dvd 2018 sales web page

In [135]:
from bs4 import BeautifulSoup
dvd_soup = BeautifulSoup(top_dvd.content, 'html.parser')
dvd_soup

<!DOCTYPE html>

<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1343128-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1343128-1');
</script>
<meta content='(PICS-1.1 "https://www.icra.org/ratingsv02.html" l gen true for "https://www.the-numbers.com/" r (cb 1 lz 1 nz 1 oz 1 vz 1) "https://www.rsac.org/ratingsv01.html" l gen true for "https://www.the-numbers.com/" r (n 0 s 0 v 0 l 0))' http-equiv="PICS-Label"/>
<!--<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" >-->
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="telephone=no" name="format-detection"/> <!-- for apple mobile -->
<meta content="521546213" property="fb:admins">
<meta content="initial-scale=1" name="viewport"/>
<meta content="Top-selling DVD titles in the US for 2018" name="description"/>
<meta content="NOODP" name="robots"/>
<meta content="movies, box office, The Numbers, Numbers, daily box office, weekly box office, movie stars, dvd sales, Blu-ray sales, release schedule" name="keywords"/>
<title>Top-Selling DVD Titles in the United States 2018 - The Numbers</title>
<link href="/resources/the-numbers-desktop-combined.css" rel="stylesheet" type="text/css"/>
<link href="https://m.the-numbers.com/home-market/dvd-sales/2018" media="only screen and (max-width: 640px)" rel="alternate"/>
<script type="text/javascript">
	if (screen.width <= 640)
	{
        window.location = "https://m.the-numbers.com/home-market/dvd-sales/2018";
    }
</script>
<!-- Begin comScore Tag -->
<script async="">
var _comscore = _comscore || [];
_comscore.push({ c1: "2", c2: "9873768" });
(function() {
 var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
 s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
 el.parentNode.insertBefore(s, el);
 })();
</script>
<noscript>
<img src="https://b.scorecardresearch.com/p?c1=2&amp;c2=9873768&amp;cv=2.0&amp;cj=1"/>
</noscript>
<!-- End comScore Tag -->
<!-- Header Tag Code -->
<script data-cfasync="false" type="text/javascript">
/*<![CDATA[*/(function (a, c, s, u){'Insticator'in a || (a.Insticator={ad:{loadAd: function (b){Insticator.ad.q.push(b)}, q: []}, helper:{}, embed:{}, version: "3.0", q: [], load: function (t, o){Insticator.q.push({t: t, o: o})}}); var b=c.createElement(s); b.src=u; b.async=!0; var d=c.getElementsByTagName(s)[0]; d.parentNode.insertBefore(b, d)})(window, document, 'script', '//d2na2p72vtqyok.cloudfront.net/client-embed/65b21a35-f662-4947-80ea-07d6b99277bf.js');/*
]]>*/
</script>
<!-- End Header Tag Code --> </meta></head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1585976611658631',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div id="wrap">
<div id="header">
<a href="/"><img alt="The Numbers - Where Data and Movies Meet" border="0" height="67" src="/images/the-numbers-banner.png" width="524"/>®
<br/>    Where Data and the Movie Business Meet
</a>
</div>
<div id="header_right" style="background: #663366; width:200px; height: 96px;">
<div style="float:right;">
Follow us on
<a href="https://www.facebook.com/TheNumbers" target="_blank"><img height="32" src="https://www.the-numbers.com/images/icons/facebook.png" style="border:none;" title="Follow The Numbers on Facebook" width="32"/></a>
<a href="https://www.twitter.com/MovieNumbers" target="_blank" title="Follow The Numbers on Twitter"><img height="32" src="https://www.the-numbers.com/images/icons/twitter.png" style="border:none;" width="32"/></a>
</div>
</div>
<div id="nav">
<ul>
<li><a href="/news">News</a>
<ul>
<li><a href="/news">Latest News</a></li>
<li><a href="/movies/release-schedule">Release Schedule</a></li>
<li><a href="/on-this-day">On This Day</a></li>
<li><a href="/oscars">Oscars</a></li>
</ul>
</li>
<li><a href="/box-office">Box Office</a>
<ul>
<li><a href="/daily-box-office-chart">Daily Chart</a></li>
<li><a href="/weekend-box-office-chart">Weekend Chart</a></li>
<li><a href="/weekly-box-office-chart">Weekly Chart</a></li>
<li><a href="/market/">Theatrical Market</a></li>
<li><a href="/international-charts-overview">International Charts</a></li>
<li><a href="/box-office-records/">Records</a></li>
<li><a href="/box-office">Chart Index</a></li>
<li><a href="/movies/release-schedule">Release Schedule</a></li>
<li><a href="/box-office-records/worldwide/all-movies/cumulative/released-in-2019">2019 Worldwide</a></li>
</ul>
</li>
<li><a href="/weekly-dvd-sales-chart">Home Video</a>
<ul>
<li><a href="/weekly-dvd-sales-chart">Weekly DVD Chart</a></li>
<li><a href="/weekly-bluray-sales-chart">Weekly Blu-ray Chart</a></li>
<li><a href="/weekly-video-sales-chart">Weekly Combined DVD+Blu-ray Chart</a></li>
<li><a href="/home-market/dvd-sales/2019">2019 DVD Chart</a></li>
<li><a href="/home-market/bluray-sales/2019">2019 Blu-ray Chart</a></li>
<li><a href="/home-market/packaged-media-sales/2019">2019 Combined Chart</a></li>
<li><a href="/alltime-bluray-sales-chart">All-Time Blu-ray</a></li>
<li><a href="/home-market/release-schedule">Release Schedule</a></li>
<li><a href="/home-market/distributors">Distributors</a></li>
</ul>
</li>
<li><a href="/movies">Movies</a>
<ul>
<li><a href="/movie/budgets">Budgets and Finances</a></li>
<li><a href="/movies/franchises">Franchises</a></li>
<li><a href="/movies/keywords">Keywords</a></li>
<li><a href="/movies">Movie Index</a></li>
<li><a href="/movies/release-schedule">Release Schedule</a></li>
<li><a href="/movies/most-anticipated">Most Anticipated</a></li>
<li><a href="/movies/trending">Trending Movies</a></li>
<li><a href="/movies/production-companies/">Production Companies</a></li>
<li><a href="/movies/production-countries/">Production Countries</a></li>
<li><a href="/movies/comparisons">Comparisons</a></li>
<li><a href="/movies/report-builder">Report Builder</a></li>
</ul>
</li>
<li><a href="/people">People</a>
<ul>
<li><a href="/bankability">Bankability</a></li>
<li><a href="/box-office-star-records/">Records</a></li>
<li><a href="/people">People Index</a></li>
<li><a href="/people/trending">Trending People</a></li>
<li><a href="/box-office-star-records/domestic/yearly-acting/highest-grossing-2019-stars">Highest Grossing Stars of 2019</a></li>
</ul>
</li>
<li><a href="/research-tools">Research Tools</a>
<ul>
<li><a href="/movies/report-builder">Report Builder</a></li>
<li><a href="/movies/keywords">Keyword Analysis</a></li>
<li><a href="/movies/custom-comparisons">Movie Comparison</a></li>
<li><a href="/custom-search">Search</a></li>
</ul>
</li>
<li><a href="/our-services">Our Services</a>
<ul>
<li><a href="/research-services">Research Services</a></li>
<li><a href="/data-services">Data Services</a></li>
<li><a href="/bankability">Bankability</a></li>
<li><a href="/about-us">About Us</a></li>
<li><a href="/support-us">Support Us</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</li>
<li style="background: #ffcc00;"><a href="https://m.the-numbers.com/home-market/dvd-sales/2018?from_desktop=Yes" rel="nofollow" style="background: #ffcc00;">Mobile Website</a></li>
</ul>
</div>
<div id="banneradnew">
<center>
<script type="text/javascript"><!--
e9 = new Object();
e9.size = "728x90,970x250";
//--></script>
<script src="//tags.expo9.exponential.com/tags/TheNumbers/ROS/tags.js" type="text/javascript"></script>
</center>
</div>
<div id="main">
<div id="page_filling_chart">
<div class="alignright" style="margin: 16px 0px -16px 0px;">
<ul id="social_horizontal">
<li>
<a class="twitter-share-button" data-text="Top-Selling DVDs in the United States 2018" data-via="MovieNumbers" href="https://twitter.com/share" rel="nofollow"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</li>
<li>
<div class="fb-like" data-action="like" data-colorscheme="light" data-href="https://www.the-numbers.com/home-market/dvd-sales/2018" data-layout="button_count" data-send="false" data-show-faces="false"></div>
</li>
<li>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script data-counter="right" type="IN/Share"></script>
</li>
</ul>
</div><div class="clearfloats"></div>
<p><br/>See also: <a href="/home-market/bluray-sales/2018">Top-selling Blu-rays for 2018</a> - <a href="/home-market/packaged-media-sales/2018">Combined Top-Selling Videos for 2018</a>
<h1>Top-Selling DVDs in the United States 2018</h1>
<center>
<div>
<span class="alignleft"><a href="2017">← 2017</a></span><span class="alignright"><a href="2019">2019 →</a></span>
</div>
<div class="clearfloats"></div>
<table>
<tr><th>Rank</th><th>Title</th><th>Units Sold</th><th>Total Consumer Spending</th></tr>
<tr>
<td class="data">1</td>
<td><b><a href="/movie/Greatest-Showman-The#tab=video-sales">The Greatest Showman</a></b></td>
<td class="data">1,865,146</td>
<td class="data">$22,507,136</td>
</tr>
<tr>
<td class="data">2</td>
<td><b><a href="/movie/Jumanji-Welcome-to-the-Jungle#tab=video-sales">Jumanji: Welcome to the Jungle</a></b></td>
<td class="data">1,669,162</td>
<td class="data">$25,254,360</td>
</tr>
<tr>
<td class="data">3</td>
<td><b><a href="/movie/Black-Panther#tab=video-sales">Black Panther</a></b></td>
<td class="data">1,563,543</td>
<td class="data">$26,932,109</td>
</tr>
<tr>
<td class="data">4</td>
<td><b><a href="/movie/Coco-(2017)#tab=video-sales">Coco</a></b></td>
<td class="data">1,435,872</td>
<td class="data">$22,412,046</td>
</tr>
<tr>
<td class="data">5</td>
<td><b><a href="/movie/Jurassic-World-Fallen-Kingdom-(2018)#tab=video-sales">Jurassic World: Fallen Kingdom</a></b></td>
<td class="data">1,195,316</td>
<td class="data">$17,177,543</td>
</tr>
<tr>
<td class="data">6</td>
<td><b><a href="/movie/It-(2017)#tab=video-sales">It</a></b></td>
<td class="data">1,184,352</td>
<td class="data">$16,281,979</td>
</tr>
<tr>
<td class="data">7</td>
<td><b><a href="/movie/Justice-League-(2017)#tab=video-sales">Justice League</a></b></td>
<td class="data">1,174,890</td>
<td class="data">$16,317,614</td>
</tr>
<tr>
<td class="data">8</td>
<td><b><a href="/movie/Avengers-Infinity-War#tab=video-sales">Avengers: Infinity War</a></b></td>
<td class="data">1,159,779</td>
<td class="data">$20,003,698</td>
</tr>
<tr>
<td class="data">9</td>
<td><b><a href="/movie/Deadpool-2#tab=video-sales">Deadpool 2</a></b></td>
<td class="data">1,109,879</td>
<td class="data">$15,576,758</td>
</tr>
<tr>
<td class="data">10</td>
<td><b><a href="/movie/Incredibles-2#tab=video-sales">Incredibles 2</a></b></td>
<td class="data">1,092,923</td>
<td class="data">$18,968,914</td>
</tr>
<tr>
<td class="data">11</td>
<td><b><a href="/movie/Hotel-Transylvania-3-Summer-Vacation#tab=video-sales">Hotel Transylvania 3: Summer Vacation</a></b></td>
<td class="data">1,042,029</td>
<td class="data">$17,510,309</td>
</tr>
<tr>
<td class="data">12</td>
<td><b><a href="/movie/Ferdinand#tab=video-sales">Ferdinand</a></b></td>
<td class="data">1,015,747</td>
<td class="data">$14,562,795</td>
</tr>
<tr>
<td class="data">13</td>
<td><b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi#tab=video-sales">Star Wars Ep. VIII: The Last Jedi</a></b></td>
<td class="data">1,014,530</td>
<td class="data">$17,734,265</td>
</tr>
<tr>
<td class="data">14</td>
<td><b><a href="/movie/Wonder-(2017)#tab=video-sales">Wonder</a></b></td>
<td class="data">1,012,224</td>
<td class="data">$13,834,665</td>
</tr>
<tr>
<td class="data">15</td>
<td><b><a href="/movie/I-Can-Only-Imagine-(2018)#tab=video-sales">I Can Only Imagine</a></b></td>
<td class="data">904,846</td>
<td class="data">$12,942,311</td>
</tr>
<tr>
<td class="data">16</td>
<td><b><a href="/movie/Hocus-Pocus#tab=video-sales">Hocus Pocus</a></b></td>
<td class="data">879,396</td>
<td class="data">$5,567,050</td>
</tr>
<tr>
<td class="data">17</td>
<td><b><a href="/movie/Fifty-Shades-Freed#tab=video-sales">Fifty Shades Freed</a></b></td>
<td class="data">877,331</td>
<td class="data">$13,720,843</td>
</tr>
<tr>
<td class="data">18</td>
<td><b><a href="/movie/Thor-Ragnarok#tab=video-sales">Thor: Ragnarok</a></b></td>
<td class="data">812,899</td>
<td class="data">$13,375,480</td>
</tr>
<tr>
<td class="data">19</td>
<td><b><a href="/movie/Cloudy-with-a-Chance-of-Meatballs-2#tab=video-sales">Cloudy with a Chance of Meatballs 2</a></b></td>
<td class="data">761,905</td>
<td class="data">$5,754,707</td>
</tr>
<tr>
<td class="data">20</td>
<td><b><a href="/movie/Wonder-Woman-(2017)#tab=video-sales">Wonder Woman</a></b></td>
<td class="data">735,296</td>
<td class="data">$7,856,863</td>
</tr>
<tr>
<td class="data">21</td>
<td><b><a href="/movie/How-the-Grinch-Stole-Christmas-(2000)#tab=video-sales">How the Grinch Stole Christmas</a></b></td>
<td class="data">715,750</td>
<td class="data">$5,511,619</td>
</tr>
<tr>
<td class="data">22</td>
<td><b><a href="/movie/Home-Alone#tab=video-sales">Home Alone</a></b></td>
<td class="data">706,663</td>
<td class="data">$4,492,499</td>
</tr>
<tr>
<td class="data">23</td>
<td><b><a href="/movie/Solo-A-Star-Wars-Story#tab=video-sales">Solo: A Star Wars Story</a></b></td>
<td class="data">694,903</td>
<td class="data">$13,420,483</td>
</tr>
<tr>
<td class="data">24</td>
<td><b><a href="/movie/Venom-(2018)#tab=video-sales">Venom</a></b></td>
<td class="data">629,261</td>
<td class="data">$11,476,928</td>
</tr>
<tr>
<td class="data">25</td>
<td><b><a href="/movie/Mamma-Mia-Here-We-Go-Again#tab=video-sales">Mamma Mia: Here We Go Again!</a></b></td>
<td class="data">624,510</td>
<td class="data">$9,616,607</td>
</tr>
<tr>
<td class="data">26</td>
<td><b><a href="/movie/Ant-Man-and-the-Wasp#tab=video-sales">Ant-Man and the Wasp</a></b></td>
<td class="data">621,826</td>
<td class="data">$13,124,952</td>
</tr>
<tr>
<td class="data">27</td>
<td><b><a href="/movie/Mary-Poppins#tab=video-sales">Mary Poppins</a></b></td>
<td class="data">611,573</td>
<td class="data">$7,269,671</td>
</tr>
<tr>
<td class="data">28</td>
<td><b><a href="/movie/Hotel-Transylvania-2#tab=video-sales">Hotel Transylvania 2</a></b></td>
<td class="data">585,066</td>
<td class="data">$3,942,356</td>
</tr>
<tr>
<td class="data">29</td>
<td><b><a href="/movie/Elf#tab=video-sales">Elf</a></b></td>
<td class="data">577,185</td>
<td class="data">$4,239,807</td>
</tr>
<tr>
<td class="data">30</td>
<td><b><a href="/movie/Tyler-Perrys-Boo-2-A-Madea-Halloween#tab=video-sales">Tyler Perryâs Boo 2! A Madea Halloween</a></b></td>
<td class="data">551,421</td>
<td class="data">$7,898,304</td>
</tr>
<tr>
<td class="data">31</td>
<td><b><a href="/movie/National-Lampoons-Christmas-Vacation#tab=video-sales">National Lampoon's Christmas Vacation</a></b></td>
<td class="data">547,216</td>
<td class="data">$3,775,521</td>
</tr>
<tr>
<td class="data">32</td>
<td><b><a href="/movie/Polar-Express-The#tab=video-sales">The Polar Express</a></b></td>
<td class="data">536,901</td>
<td class="data">$3,570,104</td>
</tr>
<tr>
<td class="data">33</td>
<td><b><a href="/movie/Skyscraper#tab=video-sales">Skyscraper</a></b></td>
<td class="data">525,680</td>
<td class="data">$7,102,928</td>
</tr>
<tr>
<td class="data">34</td>
<td><b><a href="/movie/Peter-Rabbit-(2018)#tab=video-sales">Peter Rabbit</a></b></td>
<td class="data">521,268</td>
<td class="data">$8,795,934</td>
</tr>
<tr>
<td class="data">35</td>
<td><b><a href="/movie/Oceans-8-(2018)#tab=video-sales">Oceanâs 8</a></b></td>
<td class="data">513,438</td>
<td class="data">$7,206,413</td>
</tr>
<tr>
<td class="data">36</td>
<td><b><a href="/movie/Spider-Man-Homecoming#tab=video-sales">Spider-Man: Homecoming</a></b></td>
<td class="data">501,265</td>
<td class="data">$4,593,445</td>
</tr>
<tr>
<td class="data">37</td>
<td><b><a href="/movie/Frozen-(2013)#tab=video-sales">Frozen</a></b></td>
<td class="data">481,612</td>
<td class="data">$7,471,049</td>
</tr>
<tr>
<td class="data">38</td>
<td><b><a href="/movie/Fantastic-Beasts-and-Where-to-Find-Them#tab=video-sales">Fantastic Beasts and Where to Find Them</a></b></td>
<td class="data">476,917</td>
<td class="data">$5,180,904</td>
</tr>
<tr>
<td class="data">39</td>
<td><b><a href="/movie/Pitch-Perfect-3#tab=video-sales">Pitch Perfect 3</a></b></td>
<td class="data">452,640</td>
<td class="data">$7,083,653</td>
</tr>
<tr>
<td class="data">40</td>
<td><b><a href="/movie/Christmas-Story-A#tab=video-sales">A Christmas Story</a></b></td>
<td class="data">428,143</td>
<td class="data">$3,184,270</td>
</tr>
<tr>
<td class="data">41</td>
<td><b><a href="/movie/Christopher-Robin-(2018)#tab=video-sales">Christopher Robin</a></b></td>
<td class="data">425,629</td>
<td class="data">$7,752,787</td>
</tr>
<tr>
<td class="data">42</td>
<td><b><a href="/movie/Smallfoot-(2018)#tab=video-sales">Smallfoot</a></b></td>
<td class="data">406,241</td>
<td class="data">$6,561,656</td>
</tr>
<tr>
<td class="data">43</td>
<td><b>Harry Potter: The Complete Collection Years 1-7</b></td>
<td class="data">403,828</td>
<td class="data">$16,905,829</td>
</tr>
<tr>
<td class="data">44</td>
<td><b><a href="/movie/Tonari-no-Totoro-(Japan)#tab=video-sales">My Neighbor Totoro</a></b></td>
<td class="data">388,801</td>
<td class="data">$4,323,078</td>
</tr>
<tr>
<td class="data">45</td>
<td><b><a href="/movie/Star-The#tab=video-sales">The Star</a></b></td>
<td class="data">383,176</td>
<td class="data">$5,468,973</td>
</tr>
<tr>
<td class="data">46</td>
<td><b><a href="/movie/Lion-King-The#tab=video-sales">The Lion King</a></b></td>
<td class="data">374,910</td>
<td class="data">$6,282,045</td>
</tr>
<tr>
<td class="data">47</td>
<td><b><a href="/movie/Daddys-Home-2#tab=video-sales">Daddyâs Home 2</a></b></td>
<td class="data">370,224</td>
<td class="data">$6,003,897</td>
</tr>
<tr>
<td class="data">48</td>
<td><b><a href="/movie/Aristocats-The#tab=video-sales">The Aristocats</a></b></td>
<td class="data">370,088</td>
<td class="data">$3,263,741</td>
</tr>
<tr>
<td class="data">49</td>
<td><b><a href="/movie/Equalizer-2-The#tab=video-sales">The Equalizer 2</a></b></td>
<td class="data">366,372</td>
<td class="data">$6,580,041</td>
</tr>
<tr>
<td class="data">50</td>
<td><b><a href="/movie/Titanic-(1997)#tab=video-sales">Titanic</a></b></td>
<td class="data">364,036</td>
<td class="data">$3,368,722</td>
</tr>
<tr>
<td class="data">51</td>
<td><b><a href="/movie/Blade-Runner-2049#tab=video-sales">Blade Runner 2049</a></b></td>
<td class="data">362,811</td>
<td class="data">$4,709,478</td>
</tr>
<tr>
<td class="data">52</td>
<td><b><a href="/movie/Tombstone#tab=video-sales">Tombstone</a></b></td>
<td class="data">359,304</td>
<td class="data">$2,243,795</td>
</tr>
<tr>
<td class="data">53</td>
<td><b><a href="/movie/Moana-(2016)#tab=video-sales">Moana</a></b></td>
<td class="data">357,378</td>
<td class="data">$5,232,197</td>
</tr>
<tr>
<td class="data">54</td>
<td><b><a href="/movie/Princess-and-the-Frog-The#tab=video-sales">The Princess and the Frog</a></b></td>
<td class="data">353,371</td>
<td class="data">$3,522,579</td>
</tr>
<tr>
<td class="data">55</td>
<td><b><a href="/movie/Nightmare-Before-Christmas-The#tab=video-sales">The Nightmare Before Christmas</a></b></td>
<td class="data">352,325</td>
<td class="data">$4,416,481</td>
</tr>
<tr>
<td class="data">56</td>

# DVD 2018 Sales

### Use find_all method to locate all b elements to find movie names

In [4]:
dvd_soup.find_all('b')[0].get_text()

'The Greatest Showman'

### find_all method to locate all td elements with class data

In [146]:
dvd_numbers = dvd_soup.find_all('td', class_='data')
print(dvd_numbers[0])

<td class="data">1</td>

### For Loop that creates list of dictionaries. 
1. Loop through 100 movies
2. Keys = Name, Rank, Units Sold, Consumer Spending 
3. Create dictionary for each movie

In [6]:
dvd_2018 = []
dict_dvd = {}

for i in range(0, len(dvd_numbers), 3):
    rank = dvd_numbers[i].text 
    rank_int = int(rank)
    units_sold = dvd_numbers[i+1].text 
    consumer_spending = dvd_numbers[i+2].text
    movie_name = dvd_soup.find_all('b')[rank_int - 1].get_text()
    dict_dvd['Name'] = movie_name
    dict_dvd['rank'] = rank_int
    dict_dvd['Units Sold'] = units_sold
    dict_dvd['Consumer Spending'] = consumer_spending
    dvd_2018.append(dict_dvd)
    dict_dvd = {}
#     print(f'Movie Rank: {rank}, {movie_name}, Units Sold: {units_sold}, Consumer_spending: {consumer_spending}')

In [7]:
print(dvd_2018[20])

{'Name': 'How the Grinch Stole Christmas', 'rank': 21, 'Units Sold': '715,750', 'Consumer Spending': '$5,511,619'}

# Blue Ray 2018 Sales

In [8]:
top_br = requests.get("https://www.the-numbers.com/home-market/bluray-sales/2018")
top_br.status_code

200

In [9]:
br_soup = BeautifulSoup(top_br.content, 'html.parser')

In [10]:
br_soup.find_all('b')[0].get_text()

'Avengers: Infinity War'

In [11]:
br_numbers = br_soup.find_all('td', class_='data')
print(br_numbers[0].text, br_numbers[1].text, br_numbers[2].text)

1 3,146,365 $72,977,031

In [18]:
br_2018 = []
dict_br = {}

for i in range(0, len(br_numbers), 3):
    rank = br_numbers[i].text 
    rank_int = int(rank)
    units_sold = br_numbers[i+1].text 
    consumer_spending = br_numbers[i+2].text
    movie_name = br_soup.find_all('b')[rank_int - 1].get_text()
    dict_br['Name'] = movie_name
    dict_br['rank'] = rank_int
    dict_br['Units Sold'] = units_sold
    dict_br['Consumer Spending'] = consumer_spending
    br_2018.append(dict_br)
    dict_br = {}

In [19]:
br_2018[0]

{'Name': 'Avengers: Infinity War',
 'rank': 1,
 'Units Sold': '3,146,365',
 'Consumer Spending': '$72,977,031'}

# Top 2018 Domestic Movies

In [147]:
for i in range(100):
    print(final_movie_list[i]['original_title'], movie_2018[i]['Name'])

IndexError: list index out of range

In [21]:
# final_movie_list[0]

In [148]:
top_movies = requests.get("https://www.the-numbers.com/box-office-records/domestic/all-movies/cumulative/released-in-2018")
top_movies.status_code

200

In [23]:
movies_soup = BeautifulSoup(top_movies.content, 'html.parser')

In [24]:
movies_soup.find_all('b')[0].get_text()

'Black Panther'

In [25]:
movies_numbers = movies_soup.find_all('td', class_='data')
print("Rank", movies_numbers[0].text)

Rank 1

In [26]:
len(movies_numbers)

100

In [27]:
top_movies_list = []
for i in range(100):
    name = movies_soup.find_all('b')[i].get_text()
    top_movies_list.append(name)

In [28]:
print(top_movies_list)

['Black Panther', 'Avengers: Infinity War', 'Incredibles 2', 'Jurassic World: Fallen Kingdom', 'Aquaman', 'Deadpool 2', 'Dr. Seussâ\x80\x99 The Grinch', 'Mission: Impossibleâ\x80\x94Fallout', 'Ant-Man and the Wasp', 'Bohemian Rhapsody', 'A Star is Born', 'Solo: A Star Wars Story', 'Venom', 'Ralph Breaks The Internet', 'Spider-Man: Into The Spider-Verse 3D', 'A Quiet Place', 'Crazy Rich Asians', 'Mary Poppins Returns', 'Hotel Transylvania 3: Summer Vacation', 'Fantastic Beasts: The Crimes of Grindelwald', 'Halloween', 'The Meg', 'Oceanâ\x80\x99s 8', 'Ready Player One', 'Bumblebee', 'Mamma Mia: Here We Go Again!', 'The Nun', 'Creed II', 'Peter Rabbit', 'The Mule', 'The Equalizer 2', 'Rampage', 'A Wrinkle in Time', 'Fifty Shades Freed', 'Christopher Robin', 'Green Book', 'I Can Only Imagine', 'Smallfoot', 'Night School', 'The First Purge', 'Game Night', 'Book Club', 'The House with a Clock in its Walls', 'Skyscraper', 'Insidious: The Last Key', 'Instant Family', 'Blockers', 'Pacific Rim: Uprising', 'Tomb Raider', 'Maze Runner: The Death Cure', 'The Nutcracker and the Four Realms', 'Tag', 'A Simple Favor', 'Life of the Party', 'The Predator', 'Overboard', 'Sicario: Day of the Soldado', 'BlacKkKlansman', 'I Feel Pretty', 'Vice', 'Red Sparrow', 'Breaking In', 'Goosebumps 2: Haunted Halloween', '12 Strong', 'Den of Thieves', 'First Man', 'Hereditary', 'Acrimony', 'Sherlock Gnomes', 'Uncle Drew', 'Widows', 'Truth or Dare', 'Paddington 2', 'Love, Simon', 'Second Act', 'The Commuter', 'The 15:17 to Paris', 'Mile 22', 'Alpha', 'Peppermint', 'The Favourite', 'Death Wish', 'The Spy Who Dumped Me', 'Annihilation', 'Isle of Dogs', 'Nobodyâ\x80\x99s Fool', 'Adrift', 'Robin Hood', 'Super Troopers 2', 'Holmes & Watson', 'Slender Man', 'Teen Titans Go! To The Movies', 'The Hate U Give', 'Searching', 'Winchester', 'On the Basis of Sex', 'The Strangers: Prey at Night', 'White Boy Rick', 'Wonâ\x80\x99t You Be My Neighbor?', 'Overlord']

In [29]:
# print("Opening Weekend: ", movies_info[2].text)

In [30]:
movies_info = movies_soup.find_all('td', align="right")
print("Domestic Box Office: ", movies_info[200].text)

Domestic Box Office:  $54,858,851

In [31]:
movie_2018 = []
dict_movie = {}
rank = 0

for i in range(0, len(movies_info), 4):
#     name = movies_soup.find_all('b')[rank].get_text()
    name = final_movie_list[rank]['original_title']
    rank += 1
    DMO = movies_info[i].text 
    OW = movies_info[i+2].text
    dict_movie['Name'] = name
    dict_movie['Rank'] = rank
    dict_movie['Domestic Box Office'] = DMO
    dict_movie['Opening Weekend'] = OW
    movie_2018.append(dict_movie)
    dict_movie = {}

IndexError: list index out of range

In [32]:
len(movies_info)

400

In [33]:
movie_2018[9]

IndexError: list index out of range

### Creating Tuples with Lists: Movie_2018, br_2018 and dvd_2018

In [34]:
# def sql_tubles(business_list):
#     final_biz_list = []
#     for i in business_list:
#         business_tuple= (i['id'], i['name'], i['price'], i['review_count'],
#                        i['rating'], i['Address'],
#                        i['zip'], i['state'])
#         final_biz_list.append(business_tuple)
#     return final_biz_list

In [35]:
final_movie_2018 = []
for i in movie_2018:
    movie_tuple = (i['Name'], i['Rank'], i['Domestic Box Office'], i['Opening Weekend'])
    final_movie_2018.append(movie_tuple)

In [36]:
final_movie_2018[0]

IndexError: list index out of range

In [37]:
final_dvd_2018 = []
for i in dvd_2018:
    movie_tuple = (i['Name'], i['rank'], i['Units Sold'], i['Consumer Spending'])
    final_dvd_2018.append(movie_tuple)

In [38]:
final_dvd_2018[0]

('The Greatest Showman', 1, '1,865,146', '$22,507,136')

In [39]:
final_br_2018 = []
for i in br_2018:
    movie_tuple = (i['Name'], i['rank'], i['Units Sold'], i['Consumer Spending'])
    final_br_2018.append(movie_tuple)

In [40]:
final_br_2018[0]

('Avengers: Infinity War', 1, '3,146,365', '$72,977,031')

## Setting up the DB

In [76]:
#import 
import mysql.connector 
from mysql.connector import errorcode
import config
import json

In [77]:
#connecting to AWS DB instance 
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    password = config.passwd)

print(cnx)

<mysql.connector.connection.MySQLConnection object at 0x10ab06358>

In [78]:
cursor = cnx.cursor()

In [81]:
db_name = 'movies'

In [45]:
def create_database(cursor, database):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(database))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

try:
    cursor.execute("USE {}".format(db_name))
except mysql.connector.Error as err:
    print("Database {} does not exists.".format(db_name))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor, db_name)
        print("Database {} created successfully.".format(db_name))
        cnx.database = db_name
    else:
        print(err)
        exit(1)

In [46]:
cnx.commit()
cursor.close()
cnx.close()

In [47]:
## CONNECT AGAIN FOR INSERTING DATA INTO TABLES

cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    password = config.passwd,
    database = db_name
)
cursor = cnx.cursor()
print(cnx)

<mysql.connector.connection.MySQLConnection object at 0x10a92d940>

In [48]:
# Create a table for the dvd_2018
create_dvd = """
CREATE TABLE dvd_2018 (
name TEXT NOT NULL,
rank TEXT NOT NULL,
units_sold TEXT,
consumer_spending TEXT
);
"""

In [49]:
cursor.execute(create_dvd)

ProgrammingError: 1050 (42S01): Table 'dvd_2018' already exists

In [50]:
stmt = "INSERT INTO dvd_2018 (name, rank, units_sold, consumer_spending) VALUES (%s, %s, %s, %s)"
cursor.executemany(stmt, final_dvd_2018)
cnx.commit()

In [51]:
# Create a table for the br_2018
create_br = """
CREATE TABLE br_2018 (
name TEXT NOT NULL,
rank TEXT NOT NULL,
units_sold TEXT,
consumer_spending TEXT
);
"""

In [52]:
cursor.execute(create_br)

ProgrammingError: 1050 (42S01): Table 'br_2018' already exists

In [53]:
stmt = "INSERT INTO br_2018 (name, rank, units_sold, consumer_spending) VALUES (%s, %s, %s, %s)"
cursor.executemany(stmt, final_br_2018)
cnx.commit()

In [54]:
# Create a table for the top_movies_2018
create_top_movies_2018 = """
CREATE TABLE top_movies_2018 (
name TEXT NOT NULL,
rank TEXT NOT NULL,
Domestic_Box_Office TEXT,
Opening_Weekend TEXT
);
"""

In [55]:
cursor.execute(create_top_movies_2018)

ProgrammingError: 1050 (42S01): Table 'top_movies_2018' already exists

In [56]:
stmt = "INSERT INTO top_movies_2018 (name, rank, Domestic_Box_Office, Opening_Weekend) VALUES (%s, %s, %s, %s)"
cursor.executemany(stmt, final_movie_2018)
cnx.commit()

In [57]:
cursor.close()
cnx.close()

# API Call

In [58]:
key = '5b390aa1a8d5f85e35a82e52d7cebff4'

In [59]:
import requests

In [60]:
movie = requests.get(f'https://api.themoviedb.org/3/search/movie?api_key={key}&query=Black+Panther')

In [61]:
movie_data = movie.json()
movie_data

{'page': 1,
 'total_results': 23,
 'total_pages': 2,
 'results': [{'popularity': 39.335,
   'vote_count': 13227,
   'video': False,
   'poster_path': '/uxzzxijgPIY7slzFvMotPv8wjKA.jpg',
   'id': 284054,
   'adult': False,
   'backdrop_path': '/6ELJEzQJ3Y45HczvreC3dg0GV5R.jpg',
   'original_language': 'en',
   'original_title': 'Black Panther',
   'genre_ids': [28, 12, 14, 878],
   'title': 'Black Panther',
   'vote_average': 7.4,
   'overview': "King T'Challa returns home from America to the reclusive, technologically advanced African nation of Wakanda to serve as his country's new leader. However, T'Challa soon finds that he is challenged for the throne by factions within his own country as well as without. Using powers reserved to Wakandan kings, T'Challa assumes the Black Panther mantel to join with girlfriend Nakia, the queen-mother, his princess-kid sister, members of the Dora Milaje (the Wakandan 'special forces') and an American secret agent, to prevent Wakanda from being dragged into a world war.",
   'release_date': '2018-02-16'},
  {'popularity': 2.657,
   'id': 86841,
   'video': False,
   'vote_count': 11,
   'vote_average': 5.1,
   'title': 'Black Panther',
   'release_date': '2011-01-18',
   'original_language': 'en',
   'original_title': 'Black Panther',
   'genre_ids': [28, 16],
   'backdrop_path': '/nDHdw1MJqAC3RcJvAW2Bl2sFWWE.jpg',
   'adult': False,
   'overview': 'Deep in the heart of Africa lies Wakanda, an advanced and unconquerable civilization. A family of warrior kings possessing superior speed, strength and agility has governed this mysterious nation as long as time itself. The latest in this famed line is young King T’Challa, the great hero known worldwide as the Black Panther.  Now, outsiders once again threaten to invade and plunder Wakanda. Leading this brutal assault is Klaw, a deadly assassin with the blood of T’Challa’s murdered father on his hands, who brings with him a strong army of super-powered mercenaries. Even with Wakanda’s might and his own superhuman skills, can the Black Panther prevail against this deadly invading force?  From respected filmmaker/producer Reginald Hudlin and legendary comic book artist John Romita, Jr., comes the epic Black Panther story for which comic fans have waited 25 years. Starring Djimon Hounsou (Gladiator, Blood Diamond) and Alfre Woodard (True Blood, Star Trek: First Contact).',
   'poster_path': '/gfJbTudjhRj1dfpm4HBW7uy5RfQ.jpg'},
  {'popularity': 1.767,
   'id': 106876,
   'video': False,
   'vote_count': 8,
   'vote_average': 5.7,
   'title': 'The Black Panther',
   'release_date': '1977-12-26',
   'original_language': 'en',
   'original_title': 'The Black Panther',
   'genre_ids': [80, 18, 27],
   'backdrop_path': '/5NzHxppVLEx5tBeUpBbDizjODNo.jpg',
   'adult': False,
   'overview': 'A gung-ho ex-military man pursues a secret life of crime, culminating in the kidnapping of a teenage heiress.',
   'poster_path': '/iR0GRhxL1GlpXTGTDvQKX1tfzrl.jpg'},
  {'popularity': 1.261,
   'id': 505642,
   'video': False,
   'vote_count': 0,
   'vote_average': 0,
   'title': 'Black Panther II',
   'release_date': '2022-05-06',
   'original_language': 'en',
   'original_title': 'Black Panther II',
   'genre_ids': [28, 12, 14, 878],
   'backdrop_path': '/dVpN3RSkA2bEYpi5NyIAKoSyNuL.jpg',
   'adult': False,
   'overview': 'The sequel to Black Panther (2018).',
   'poster_path': '/la9PV20A8dAAxpsk2JPppEvXsrY.jpg'},
  {'popularity': 0.6,
   'id': 328475,
   'video': False,
   'vote_count': 2,
   'vote_average': 10,
   'title': 'Black Panther Woman',
   'release_date': '2014-06-01',
   'original_language': 'en',
   'original_title': 'Black Panther Woman',
   'genre_ids': [99],
   'backdrop_path': None,
   'adult': False,
   'overview': 'Marlene Cummins breaks a forty-year silence to tell the story of her abuse in the Australian Black protest movement, to overcome her demons of today.',
   'poster_path': None},
  {'popularity': 0.6,
   'id': 494607,
   'video': False,
   'vote_count': 0,
   'vote_average': 0,
   'title': 'The Black Panther',
   'release_date': '1956-01-01',
   'original_language': 'en',
   'original_title': 'The Black Panther',
   'genre_ids': [],
   'backdrop_path': None,
   'adult': False,
   'overview': 'Principal scenes from this kids\' film, minus all shots featuring Sabu, were also used in the semi-adult film "Untamed Mistress", made and released by the same people in the same year.',
   'poster_path': None},
  {'popularity': 0.6,
   'id': 189225,
   'video': False,
   'vote_count': 2,
   'vote_average': 9,
   'title': 'Eldridge Cleaver, Black Panther',
   'release_date': '1970-08-24',
   'original_language': 'en',
   'original_title': 'Eldridge Cleaver, Black Panther',
   'genre_ids': [36, 99],
   'backdrop_path': None,
   'adult': False,
   'overview': 'The portrait of Eldridge Cleaver, the "Minister of Information" for the Black Panthers movement, in exile in Algiers.',
   'poster_path': '/m9TlvfxrKRefKKE5XNWn3YtJRqZ.jpg'},
  {'popularity': 2.475,
   'id': 528222,
   'video': False,
   'vote_count': 12,
   'vote_average': 5.7,
   'title': 'LEGO Marvel Super Heroes: Black Panther - Trouble in Wakanda',
   'release_date': '2018-06-04',
   'original_language': 'en',
   'original_title': 'LEGO Marvel Super Heroes: Black Panther - Trouble in Wakanda',
   'genre_ids': [16, 14, 10751],
   'backdrop_path': '/96ANeIgnKUqrBNlG2ZdesuOsony.jpg',
   'adult': False,
   'overview': 'After speaking at the Wakanda Embassy, Black Panther fights Thanos and fends him off with the help of fellow Avengers Captain America, Thor, Iron Man, Hulk, and Black Widow. After regaining conscious, Thanos is approached by Erik Killmonger and Ulysses Klaue in a plot where they will obtain the Vibranium in Wakanda to empower Thanos. When Black Panther discovers this plot, he must work with Shuri, Okoye, and the Avengers to defeat them.',
   'poster_path': '/2t6V87sYjESrtBj9flbHWhZKtAp.jpg'},
  {'popularity': 0.6,
   'id': 592698,
   'video': True,
   'vote_count': 0,
   'vote_average': 0,
   'title': 'Deadpool & Black Panther: Back in Red & Black',
   'release_date': '2014-12-15',
   'original_language': 'en',
   'original_title': 'Deadpool & Black Panther: Back in Red & Black',
   'genre_ids': [878, 28],
   'backdrop_path': None,
   'adult': False,
   'overview': 'Two classic Marvel Heroes DeadPool and Black Panther team up to cause a little trouble in this fan made short film.',
   'poster_path': '/eFTVVxD1LFr5XF8VZ3qWpS5XnjH.jpg'},
  {'popularity': 0.84,
   'id': 476176,
   'video': False,
   'vote_count': 0,
   'vote_average': 0,
   'title': 'The Black Panther',
   'release_date': '1969-03-28',
   'original_language': 'zh',
   'original_title': 'Hei bao',
   'genre_ids': [9648, 28, 12, 18],
   'backdrop_path': None,
   'adult': False,
   'overview': 'A Wuxia mystery adventure from Cathay films.',
   'poster_path': '/dyEPNyqQERU6cSXQJQYRoY2DA5C.jpg'},
  {'popularity': 0.697,
   'id': 303740,
   'video': False,
   'vote_count': 2,
   'vote_average': 4.5,
   'title': 'Black Panther Bitch M',
   'release_date': '1974-08-14',
   'original_language': 'ja',
   'original_title': 'Kuroi Mehyô M',
   'genre_ids': [28],
   'backdrop_path': None,
   'adult': False,
   'overview': 'An assassin trained as a ninja carries the code name M. Hayami is a yakuza boss and a divorced father who is not allowed to come near his and her young daughter Mutsumi from his ex-wife Kazuko. In the big port city of Yokohama, M has to see Hayami, who with his practices has thrown angry blood at the president of the yakuza group.',
   'poster_path': '/VjV8WrxA189iZLVRWQFmomSLSv.jpg'},
  {'popularity': 1.511,
   'id': 252505,
   'video': False,
   'vote_count': 2,
   'vote_average': 6,
   'title': 'The Black Panther Warriors',
   'release_date': '1993-11-18',
   'original_language': 'cn',
   'original_title': '黑豹天下',
   'genre_ids': [28, 14, 35, 80],
   'backdrop_path': None,
   'adult': False,
   'overview': 'A group of specialists are recruited to steal from a police station.',
   'poster_path': '/5pB8Ti73bPTdh9Os8G59k9OaBBz.jpg'},
  {'popularity': 1.663,
   'id': 299096,
   'video': False,
   'vote_count': 0,
   'vote_average': 0,
   'title': 'Black Panther',
   'release_date': '2014-10-19',
   'original_language': 'de',
   'original_title': 'Schwarzer Panther',
   'genre_ids': [10751, 18],
   'backdrop_path': '/fc3eXSnexBtvwANY8tJHV0LATSS.jpg',
   'adult': False,
   'overview': 'After many years apart, Emilie (26) meets her brother Jakob (22) again. She not only shares her sadness about the loss of their parents with him, but also a secret...',
   'poster_path': '/8eWXZSmbW01v7nYnGYEYuj9bAxF.jpg'},
  {'popularity': 1.236,
   'id': 293366,
   'video': False,
   'vote_count': 2,
   'vote_average': 4.5,
   'title': 'Gungala, The Black Panther Girl',
   'release_date': '1968-05-31',
   'original_language': 'en',
   'original_title': 'Gungala la pantera nuda',
   'genre_ids': [12],
   'backdrop_path': None,
   'adult': False,
   'overview': 'An insurance company, led by a wealthy English family, organized an expedition to Africa to find a lost heiress who has been raised in the wild as Gungala and one of the explorers falls in love with her.',
   'poster_path': '/oSlXNCRErSImJmJqBF1Q4dO42kg.jpg'},
  {'popularity': 0.878,
   'id': 288567,
   'video': False,
   'vote_count': 0,
   'vote_average': 0,
   'title': 'Black Panthers',
   'release_date': '1966-08-04',
   'original_language': 'de',
   'original_title': 'Schwarze Panther',
   'genre_ids': [18],
   'backdrop_path': None,
   'adult': False,
   'overview': 'Seventeen-year-old Martina has a paralyzing fear of heights, which prevents her from fulfilling her father’s wish that they perform a tightrope act together.  As she is quite taken with the black panthers in the circus, as well as their trainer Dittrich, she decides to be an animal trainer instead.',
   'poster_path': '/nCD5SrjzvZCfOnfJQhIr9geTGKd.jpg'},
  {'popularity': 0.603,
   'id': 302547,
   'video': False,
   'vote_count': 0,
   'vote_average': 0,
   'title': 'The Black Panther of Ratana',
   'release_date': '1963-03-15',
   'original_language': 'de',
   'original_title': 'Der schwarze Panther von Ratana',
   'genre_ids': [12],
   'backdrop_path': None,
   'adult': False,
   'overview': '',
   'poster_path': '/rHPlI9U8Iahubfy0JZxe6yIkYSr.jpg'},
  {'popularity': 0.6,
   'id': 248088,
   'video': False,
   'vote_count': 2,
   'vote_average': 5,
   'title': 'Eusébio, The Black Panther',
   'release_date': '1973-01-05',
   'original_language': 'pt',
   'original_title': 'Eusébio, A Pantera Negra',
   'genre_ids': [99],
   'backdrop_path': None,
   'adult': False,
   'overview': 'From the boy who played on the streets to the man who won the Golden Ball, "Eusébio, a Pantera Negra" shows the life of the portuguese football idol, since the first kicks, passing through the great moments of his personal life, till his consagration as football player.',
   'poster_path': '/8CW2GRnCfABCfu2QkdHDxPuD51z.jpg'},
  {'popularity': 2.143,
   'id': 144597,
   'video': False,
   'vote_count': 10,
   'vote_average': 6.1,
   'title': 'Black Panthers',
   'release_date': '1968-12-01',
   'original_language': 'en',
   'original_title': 'Black Panthers',
   'genre_ids': [99],
   'backdrop_path': '/ecq9oaVSlRkHJQdXQY1FJwfzBFv.jpg',
   'adult': False,
   'overview': 'This riveting documentary, “Black Panthers - Huey!”, directed by French filmmaker Agnès Varda transports you to the pivotal Free Huey rally held on February 17th, 1968, at Oakland Auditorium in Alameda, California. Newton, the charismatic young college student who, along with Bobby Seale, created the Black Panther Party, had been jailed for allegedly killing a police officer.  His arrest–widely believed at the time to be a setup–galvanized Party support throughout the nation and led to a boom in Party membership, bringing a new level of public attention to the Panthers’ cause.',
   'poster_path': '/uk2afhXAybYEVKjT2TzpP6hn37C.jpg'},
  {'popularity': 0.6,
   'id': 144807,
   'video': False,
   'vote_count': 1,
   'vote_average': 5,
   'title': 'The Black Panther',
   'release_date': '1973-09-28',
   'original_language': 'zh',
   'original_title': 'Hei bao',
   'genre_ids': [28],
   'backdrop_path': None,
   'adult': False,
   'overview': "Cheng Sing gets betrayed by his crime Partners and lands in Jail. After he gets out he's starting his trail of Revenge.",
   'poster_path': '/vZ1dShHF3Bf3tLdSmdOOI006VFO.jpg'},
  {'popularity': 0.654,
   'id': 316033,
   'video': False,
   'vote_count': 0,
   'vote_average': 0,
   'title': "Passin' It On",
   'release_date': '1993-10-24',
   'original_language': 'en',
   'original_title': "Passin' It On",
   'genre_ids': [99],
   'backdrop_path': None,
   'adult': False,
   'overview': 'Examines the troubling case of Black Panther leader Dhoruba Bin Wahad (Richard Moore), released after 19 years in prison, when his conviction for allegedly shooting two New York City police officers was overturned on the basis of prosecutorial misconduct.',
   'poster_path': '/jmsbXLH3oTBeZ4JA8BtBXOSaGQg.jpg'}]}

In [62]:
bp = requests.get(f'https://api.themoviedb.org/3/movie/284054?api_key={key}&language=en÷-US')

In [63]:
bp_data = bp.json()
bp_data

{'adult': False,
 'backdrop_path': '/6ELJEzQJ3Y45HczvreC3dg0GV5R.jpg',
 'belongs_to_collection': {'id': 529892,
  'name': 'Black Panther Collection',
  'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
  'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
 'budget': 200000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'https://marvel.com/movies/movie/224/black_panther',
 'id': 284054,
 'imdb_id': 'tt1825683',
 'original_language': 'en',
 'original_title': 'Black Panther',
 'overview': "King T'Challa returns home from America to the reclusive, technologically advanced African nation of Wakanda to serve as his country's new leader. However, T'Challa soon finds that he is challenged for the throne by factions within his own country as well as without. Using powers reserved to Wakandan kings, T'Challa assumes the Black Panther mantel to join with girlfriend Nakia, the queen-mother, his princess-kid sister, members of the Dora Milaje (the Wakandan 'special forces') and an American secret agent, to prevent Wakanda from being dragged into a world war.",
 'popularity': 39.335,
 'poster_path': '/uxzzxijgPIY7slzFvMotPv8wjKA.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'},
  {'id': 2,
   'logo_path': '/wdrCwmRnLFJhEoH8GSfymY85KHT.png',
   'name': 'Walt Disney Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2018-02-13',
 'revenue': 1346739107,
 'runtime': 134,
 'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
  {'iso_639_1': 'ko', 'name': '한국어/조선말'},
  {'iso_639_1': 'sw', 'name': 'Kiswahili'},
  {'iso_639_1': 'xh', 'name': ''}],
 'status': 'Released',
 'tagline': 'Long live the king.',
 'title': 'Black Panther',
 'video': False,
 'vote_average': 7.4,
 'vote_count': 13227}

In [64]:
top_movies_100 = top_movies_list
top_movies_100[6] = 'The Grinch'
top_movies_100[14] = 'Spider-Man: Into the Spider-Verse'
top_movies_100[40] = 'Game Night'
top_movies_100[85] = 'Nobody’s Fool'
top_movies_100[98] = 'Won’t You Be My Neighbor?'
top_movies_100[22] = 'Oceans 8'
top_movies_100

['Black Panther',
 'Avengers: Infinity War',
 'Incredibles 2',
 'Jurassic World: Fallen Kingdom',
 'Aquaman',
 'Deadpool 2',
 'The Grinch',
 'Mission: Impossibleâ\x80\x94Fallout',
 'Ant-Man and the Wasp',
 'Bohemian Rhapsody',
 'A Star is Born',
 'Solo: A Star Wars Story',
 'Venom',
 'Ralph Breaks The Internet',
 'Spider-Man: Into the Spider-Verse',
 'A Quiet Place',
 'Crazy Rich Asians',
 'Mary Poppins Returns',
 'Hotel Transylvania 3: Summer Vacation',
 'Fantastic Beasts: The Crimes of Grindelwald',
 'Halloween',
 'The Meg',
 'Oceans 8',
 'Ready Player One',
 'Bumblebee',
 'Mamma Mia: Here We Go Again!',
 'The Nun',
 'Creed II',
 'Peter Rabbit',
 'The Mule',
 'The Equalizer 2',
 'Rampage',
 'A Wrinkle in Time',
 'Fifty Shades Freed',
 'Christopher Robin',
 'Green Book',
 'I Can Only Imagine',
 'Smallfoot',
 'Night School',
 'The First Purge',
 'Game Night',
 'Book Club',
 'The House with a Clock in its Walls',
 'Skyscraper',
 'Insidious: The Last Key',
 'Instant Family',
 'Blockers',
 'Pacific Rim: Uprising',
 'Tomb Raider',
 'Maze Runner: The Death Cure',
 'The Nutcracker and the Four Realms',
 'Tag',
 'A Simple Favor',
 'Life of the Party',
 'The Predator',
 'Overboard',
 'Sicario: Day of the Soldado',
 'BlacKkKlansman',
 'I Feel Pretty',
 'Vice',
 'Red Sparrow',
 'Breaking In',
 'Goosebumps 2: Haunted Halloween',
 '12 Strong',
 'Den of Thieves',
 'First Man',
 'Hereditary',
 'Acrimony',
 'Sherlock Gnomes',
 'Uncle Drew',
 'Widows',
 'Truth or Dare',
 'Paddington 2',
 'Love, Simon',
 'Second Act',
 'The Commuter',
 'The 15:17 to Paris',
 'Mile 22',
 'Alpha',
 'Peppermint',
 'The Favourite',
 'Death Wish',
 'The Spy Who Dumped Me',
 'Annihilation',
 'Isle of Dogs',
 'Nobody’s Fool',
 'Adrift',
 'Robin Hood',
 'Super Troopers 2',
 'Holmes & Watson',
 'Slender Man',
 'Teen Titans Go! To The Movies',
 'The Hate U Give',
 'Searching',
 'Winchester',
 'On the Basis of Sex',
 'The Strangers: Prey at Night',
 'White Boy Rick',
 'Won’t You Be My Neighbor?',
 'Overlord']

In [65]:
test = requests.get(f'https://api.themoviedb.org/3/search/movie?api_key={key}&query=Oceans 8')

In [66]:
test_movie = test.json()
test_movie['results'][0]

{'popularity': 20.232,
 'vote_count': 4116,
 'video': False,
 'poster_path': '/MvYpKlpFukTivnlBhizGbkAe3v.jpg',
 'id': 402900,
 'adult': False,
 'backdrop_path': '/4PZuqUVwvxPCEMV8LYSAJLuxvcq.jpg',
 'original_language': 'en',
 'original_title': "Ocean's Eight",
 'genre_ids': [28, 35, 80, 53],
 'title': "Ocean's Eight",
 'vote_average': 6.9,
 'overview': "Debbie Ocean, a criminal mastermind, gathers a crew of female thieves to pull off the heist of the century at New York's annual Met Gala.",
 'release_date': '2018-06-08'}

In [67]:
import time
count = 0

for i in top_movies_100:
    movie = requests.get(f'https://api.themoviedb.org/3/search/movie?api_key={key}&query={i}')
    movie_json = movie.json()
    # make 3 for loops
    # when counter = 39 sleep 10 seconds 

    print(count, movie_json["results"][0]["id"], movie_json["results"][0]["original_title"], movie_json["results"][0]["vote_average"])
    count += 1
    if count % 15 == 0:
        time.sleep(10)

0 284054 Black Panther 7.4
1 299536 Avengers: Infinity War 8.3
2 260513 Incredibles 2 7.6
3 351286 Jurassic World: Fallen Kingdom 6.5
4 297802 Aquaman 6.8
5 383498 Deadpool 2 7.5
6 360920 The Grinch 6.4
7 353081 Mission: Impossible - Fallout 7.3
8 363088 Ant-Man and the Wasp 7
9 424694 Bohemian Rhapsody 8.1
10 332562 A Star Is Born 7.5
11 348350 Solo: A Star Wars Story 6.6
12 335983 Venom 6.6
13 404368 Ralph Breaks the Internet 7.2
14 324857 Spider-Man: Into the Spider-Verse 8.4
15 447332 A Quiet Place 7.3
16 455207 Crazy Rich Asians 7.1
17 400650 Mary Poppins Returns 6.6
18 400155 Hotel Transylvania 3: Summer Vacation 6.8
19 338952 Fantastic Beasts: The Crimes of Grindelwald 6.9
20 948 Halloween 7.5
21 345940 The Meg 5.9
22 402900 Ocean's Eight 6.9
23 333339 Ready Player One 7.6
24 424783 Bumblebee 6.5
25 458423 Mamma Mia! Here We Go Again 7.2
26 439079 The Nun 5.6
27 480530 Creed II 6.7
28 381719 Peter Rabbit 6.5
29 504172 The Mule 6.6
30 345887 The Equalizer 2 6.4
31 427641 Rampage 6.2
32 407451 A Wrinkle in Time 5
33 337167 Fifty Shades Freed 6.2
34 420814 Christopher Robin 7.4
35 490132 Green Book 8.3
36 470878 I Can Only Imagine 7.6
37 446894 Smallfoot 6.7
38 454293 Night School 6
39 442249 The First Purge 5.8
40 445571 Game Night 6.9
41 502682 Book Club 6.1
42 463821 The House with a Clock in Its Walls 6.2
43 447200 Skyscraper 6.1
44 406563 Insidious: The Last Key 6.1
45 491418 Instant Family 7.6
46 437557 Blockers 6.2
47 268896 Pacific Rim: Uprising 5.9
48 338970 Tomb Raider 6.3
49 336843 Maze Runner: The Death Cure 7.1
50 426543 The Nutcracker and the Four Realms 6
51 455980 Tag 6.7
52 484247 A Simple Favor 6.6
53 399796 Life of the Party 6.2
54 346910 The Predator 5.3
55 454619 Overboard 6.3
56 400535 Sicario: Day of the Soldado 6.7
57 487558 BlacKkKlansman 7.6
58 460668 I Feel Pretty 6.4
59 429197 Vice 7.1
60 401981 Red Sparrow 6.5
61 497814 Breaking In 5.8
62 442062 Goosebumps 2: Haunted Halloween 5.7
63 429351 12 Strong 5.7
64 449443 Den of Thieves 6.6
65 369972 First Man 7.1
66 493922 Hereditary 7
67 464502 Acrimony 6.6
68 370567 Sherlock Gnomes 5.5
69 474335 Uncle Drew 6.5
70 401469 Widows 6.5
71 460019 Truth or Dare 6
72 346648 Paddington 2 7.5
73 449176 Love, Simon 8.1
74 503616 Second Act 6.2
75 399035 The Commuter 6.2
76 453201 The 15:17 to Paris 5.3
77 347375 Mile 22 6
78 399360 Alpha 6
79 458594 Peppermint 6.5
80 375262 The Favourite 7.6
81 395990 Death Wish 5.9
82 454992 The Spy Who Dumped Me 6.4
83 300668 Annihilation 6.3
84 399174 Isle of Dogs 7.9
85 514619 Nobody's Fool 6.1
86 429300 Adrift 6.8
87 375588 Robin Hood 5.8
88 50022 Super Troopers 2 5.8
89 426563 Holmes & Watson 4.4
90 439015 Slender Man 4
91 474395 Teen Titans Go! To the Movies 7
92 470044 The Hate U Give 8.2
93 489999 Searching 7.6
94 416234 Winchester 5.8
95 339380 On the Basis of Sex 7.4
96 371608 The Strangers: Prey at Night 5.4
97 438808 White Boy Rick 6.3
98 490003 Won't You Be My Neighbor? 8.3
99 438799 Overlord 6.6

In [73]:

count = 0
new_movie_list_dict = []
movie_dict = {}

for i in top_movies_100:
    
    movie = requests.get(f'https://api.themoviedb.org/3/search/movie?api_key={key}&query={i}')
    movie_json = movie.json()
    # make 3 for loops
    # when counter = 39 sleep 10 seconds 

#     print(count, movie_json["results"][0]["id"], movie_json["results"][0]["original_title"], movie_json["results"][0]["vote_average"])
    movie_id = movie_json["results"][0]["id"]
    movie_info = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={key}&language=en÷-US')
    movie_data = movie_info.json()
    new_movie_list_dict.append(movie_data)
    time.sleep(1.3)

In [ ]:
count = 0
final_movie_list = []
movie_dict = {}
for i in range(len(new_movie_list_dict)):
    m = new_movie_list_dict
    movie_dict['id'] = m[i]['id']
    movie_dict['original_title'] = m[i]['original_title']
    movie_dict['budget'] = m[i]['budget']
    movie_dict['vote_average'] = m[i]["vote_average"]
    movie_dict['revenue'] = m[i]['revenue']
    movie_dict['release_date'] = m[i]['release_date']
    movie_dict['runtime'] = m[i]['runtime']
    genres = m[i]['genres']
    for i in range(len(genres)):
        movie_dict[f'genre_{i}'] = genres[i]['name']
    final_movie_list.append(movie_dict)
    movie_dict = {}

In [ ]:
final_movie_list[0]

In [71]:
# count = 0
# final_movie_list_2018 = []
# for n in range(len(final_movie_list)):
#     i = final_movie_list[n]
#     print(f'i = {i}\n\n')
#     print(f'n = {n}')
#     print(f'Lenght of I = {len(i)}')
    
#     if len(i) == 7:
#         movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
#                        i['revenue'], i['release_date'], i['runtime'])
        
#     elif len(i) == 8:
#         movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
#                        i['revenue'], i['release_date'], i['runtime'], i['genre_0'])
        
#     elif len(i) == 9:
#         movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
#                        i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
#                        i['genre_1'])
        
#     elif len(i) == 10:
#         movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
#                        i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
#                        i['genre_1'], i['genre_2'])
        
#     elif len(i) == 11:
#         movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
#                        i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
#                        i['genre_1'], i['genre_2'], i['genre_3'])
        
#     elif len(i) == 12:
#         movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
#                        i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
#                        i['genre_1'], i['genre_2'], i['genre_3'], i['genre_4'])
    
#     elif len(i) == 13:
#         movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
#                        i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
#                        i['genre_1'], i['genre_2'], i['genre_3'], i['genre_4'], i['genre_5'])
        
#     else: 
#         movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
#                        i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
#                        i['genre_1'], i['genre_2'], i['genre_3'], i['genre_4'], i['genre_5'], i['genre_6'])
    
#     print(count)
# #     print(f'movie_tuple = {movie_tuple}')
#     count += 1
#     final_movie_list_2018.append(movie_tuple)

In [ ]:
count = 0
final_movie_list_2018 = []
for n in range(len(final_movie_list)):
    i = final_movie_list[n]
       
    if len(i) == 8:
        movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
                       i['revenue'], i['release_date'], i['runtime'], i['genre_0'])
        stmt = "INSERT INTO top_movies_info (id, original_title, budget, vote_average, revenue, release_date, runtime, genre) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(stmt, movie_tuple)
        
    elif len(i) == 9:
        movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
                       i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
                       i['genre_1'])
        stmt = "INSERT INTO top_movies_info (id, original_title, budget, vote_average, revenue, release_date, runtime, genre, genre_1) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(stmt, movie_tuple)
        
    elif len(i) == 10:
        movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
                       i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
                       i['genre_1'], i['genre_2'])
        stmt = "INSERT INTO top_movies_info (id, original_title, budget, vote_average, revenue, release_date, runtime, genre, genre_1, genre_2) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(stmt, movie_tuple)
        
    elif len(i) == 11:
        movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
                       i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
                       i['genre_1'], i['genre_2'], i['genre_3'])
        stmt = "INSERT INTO top_movies_info (id, original_title, budget, vote_average, revenue, release_date, runtime, genre, genre_1, genre_2, genre_3) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(stmt, movie_tuple)
        
    elif len(i) == 12:
        movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
                       i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
                       i['genre_1'], i['genre_2'], i['genre_3'], i['genre_4'])
        stmt = "INSERT INTO top_movies_info (id, original_title, budget, vote_average, revenue, release_date, runtime, genre, genre_1, genre_2, genre_3, genre_4) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(stmt, movie_tuple)
        
    elif len(i) == 13:
        movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
                       i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
                       i['genre_1'], i['genre_2'], i['genre_3'], i['genre_4'], i['genre_5'])
        stmt = "INSERT INTO top_movies_info (id, original_title, budget, vote_average, revenue, release_date, runtime, genre, genre_1, genre_2, genre_3, genre_4, genre_5) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(stmt, movie_tuple)
        
    else: 
        movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
                       i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
                       i['genre_1'], i['genre_2'], i['genre_3'], i['genre_4'], i['genre_5'], i['genre_6'])
        stmt = "INSERT INTO top_movies_info (id, original_title, budget, vote_average, revenue, release_date, runtime, genre, genre_1, genre_2, genre_3, genre_4, genre_5, genre_6) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(stmt, movie_tuple)
    
    print(count)
#     print(f'movie_tuple = {movie_tuple}')
    count += 1
    final_movie_list_2018.append(movie_tuple)

In [ ]:
final_movie_list_2018[22]

In [ ]:
final_movie_2018[6]

# Adding The Movie DB API to SQL

In [122]:
db_name = "Movies"
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    password = config.passwd,
    database = db_name
)
cursor = cnx.cursor()
print(cnx)

<mysql.connector.connection.MySQLConnection object at 0x11a7b5390>

In [ ]:
# (i['id'], i['original_title'], i['budget'], i['vote_average'], 
#                        i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
#                        i['genre_1'], i['genre_2'], i['genre_3'], i['genre_4'], i['genre_5'], i['genre_6'])
#creating table:
# Create a table for the top_movies_2018
create_top_movies_info = """
CREATE TABLE top_movies_info (
id TEXT NOT NULL,
original_title TEXT NOT NULL,
budget TEXT NOT NULL,
vote_average TEXT,
revenue TEXT,
release_date DATETIME, 
runtime REAL,
genre TEXT,
genre_1 TEXT,
genre_2 TEXT,
genre_3 TEXT,
genre_4 TEXT,
genre_5 TEXT,
genre_6 TEXT
);
"""

In [ ]:
cursor.execute(create_top_movies_info)

In [ ]:
cnx.commit()

In [ ]:
cursor.close()
cnx.close()

In [93]:
cursor.execute("""SELECT * FROM top_movies_info;""")
for original_title in cursor:
    print(f'{original_title}')

In [94]:
for original_title in cursor:
    print(f'{original_title}')

(284054, 'Black Panther', 200000000, 7.4, 1346739107, datetime.datetime(2018, 2, 13, 0, 0), 134.0, 'Action', 'Adventure', 'Fantasy', 'Science Fiction', None, None, None)
(299536, 'Avengers: Infinity War', 300000000, 8.3, 2046239637, datetime.datetime(2018, 4, 25, 0, 0), 149.0, 'Adventure', 'Action', 'Science Fiction', None, None, None, None)
(260513, 'Incredibles 2', 200000000, 7.6, 1241891456, datetime.datetime(2018, 6, 14, 0, 0), 118.0, 'Action', 'Adventure', 'Animation', 'Family', None, None, None)
(351286, 'Jurassic World: Fallen Kingdom', 170000000, 6.5, 1303459585, datetime.datetime(2018, 6, 6, 0, 0), 129.0, 'Action', 'Adventure', 'Science Fiction', None, None, None, None)
(297802, 'Aquaman', 160000000, 6.8, 1143689193, datetime.datetime(2018, 12, 7, 0, 0), 144.0, 'Action', 'Adventure', 'Fantasy', None, None, None, None)
(383498, 'Deadpool 2', 110000000, 7.5, 741547413, datetime.datetime(2018, 5, 10, 0, 0), 121.0, 'Action', 'Comedy', 'Adventure', None, None, None, None)
(360920, 'The Grinch', 75000000, 6.4, 508575295, datetime.datetime(2018, 11, 8, 0, 0), 90.0, 'Animation', 'Family', 'Comedy', 'Fantasy', None, None, None)
(353081, 'Mission: Impossible - Fallout', 178000000, 7.3, 791017452, datetime.datetime(2018, 7, 13, 0, 0), 148.0, 'Action', 'Adventure', None, None, None, None, None)
(363088, 'Ant-Man and the Wasp', 140000000, '7.0', 622674139, datetime.datetime(2018, 7, 4, 0, 0), 119.0, 'Action', 'Adventure', 'Science Fiction', 'Comedy', None, None, None)
(424694, 'Bohemian Rhapsody', 52000000, 8.1, 894027543, datetime.datetime(2018, 10, 24, 0, 0), 135.0, 'Drama', 'Music', None, None, None, None, None)
(332562, 'A Star Is Born', 36000000, 7.5, 433888866, datetime.datetime(2018, 10, 3, 0, 0), 135.0, 'Drama', 'Romance', 'Music', None, None, None, None)
(348350, 'Solo: A Star Wars Story', 250000000, 6.6, 392952373, datetime.datetime(2018, 5, 15, 0, 0), 135.0, 'Action', 'Adventure', 'Science Fiction', None, None, None, None)
(335983, 'Venom', 116000000, 6.6, 855013954, datetime.datetime(2018, 9, 28, 0, 0), 112.0, 'Science Fiction', 'Action', None, None, None, None, None)
(404368, 'Ralph Breaks the Internet', 175000000, 7.2, 529221154, datetime.datetime(2018, 11, 20, 0, 0), 112.0, 'Family', 'Animation', 'Comedy', 'Adventure', None, None, None)
(324857, 'Spider-Man: Into the Spider-Verse', 90000000, 8.4, 375450417, datetime.datetime(2018, 12, 6, 0, 0), 117.0, 'Action', 'Adventure', 'Animation', 'Science Fiction', 'Comedy', None, None)
(447332, 'A Quiet Place', 17000000, 7.3, 340677200, datetime.datetime(2018, 4, 3, 0, 0), 91.0, 'Horror', 'Drama', 'Science Fiction', None, None, None, None)
(455207, 'Crazy Rich Asians', 30000000, 7.1, 237994561, datetime.datetime(2018, 8, 15, 0, 0), 121.0, 'Comedy', 'Drama', 'Romance', None, None, None, None)
(400650, 'Mary Poppins Returns', 130000000, 6.6, 348807090, datetime.datetime(2018, 12, 13, 0, 0), 131.0, 'Fantasy', 'Family', 'Comedy', None, None, None, None)
(400155, 'Hotel Transylvania 3: Summer Vacation', 80000000, 6.8, 100176000, datetime.datetime(2018, 6, 28, 0, 0), 97.0, 'Family', 'Fantasy', 'Comedy', 'Animation', None, None, None)
(338952, 'Fantastic Beasts: The Crimes of Grindelwald', 200000000, 6.9, 653355901, datetime.datetime(2018, 11, 14, 0, 0), 134.0, 'Adventure', 'Fantasy', 'Family', None, None, None, None)
(948, 'Halloween', 10000000, 7.5, 0, datetime.datetime(1978, 10, 24, 0, 0), 91.0, 'Horror', 'Thriller', None, None, None, None, None)
(345940, 'The Meg', 150000000, 5.9, 315960074, datetime.datetime(2018, 8, 9, 0, 0), 113.0, 'Action', 'Science Fiction', 'Horror', None, None, None, None)
(402900, "Ocean's Eight", 70000000, 6.9, 297718711, datetime.datetime(2018, 6, 7, 0, 0), 111.0, 'Crime', 'Comedy', 'Action', 'Thriller', None, None, None)
(333339, 'Ready Player One', 175000000, 7.6, 582890172, datetime.datetime(2018, 3, 28, 0, 0), 140.0, 'Adventure', 'Science Fiction', None, None, None, None, None)
(424783, 'Bumblebee', 135000000, 6.5, 465895025, datetime.datetime(2018, 12, 15, 0, 0), 114.0, 'Action', 'Adventure', 'Science Fiction', None, None, None, None)
(458423, 'Mamma Mia! Here We Go Again', 75000000, 7.2, 167225525, datetime.datetime(2018, 7, 9, 0, 0), 113.0, 'Comedy', 'Romance', None, None, None, None, None)
(439079, 'The Nun', 22000000, 5.6, 365550119, datetime.datetime(2018, 9, 5, 0, 0), 96.0, 'Horror', 'Mystery', 'Thriller', None, None, None, None)
(480530, 'Creed II', 50000000, 6.7, 137944327, datetime.datetime(2018, 11, 21, 0, 0), 130.0, 'Drama', None, None, None, None, None, None)
(381719, 'Peter Rabbit', 50000000, 6.5, 351266433, datetime.datetime(2018, 2, 7, 0, 0), 93.0, 'Animation', 'Adventure', 'Family', None, None, None, None)
(504172, 'The Mule', 50000000, 6.6, 171304407, datetime.datetime(2018, 12, 14, 0, 0), 117.0, 'Crime', 'Drama', 'Thriller', None, None, None, None)
(345887, 'The Equalizer 2', 62000000, 6.4, 102084362, datetime.datetime(2018, 7, 19, 0, 0), 122.0, 'Thriller', 'Action', 'Crime', None, None, None, None)
(427641, 'Rampage', 120000000, 6.2, 426245950, datetime.datetime(2018, 4, 12, 0, 0), 107.0, 'Action', 'Adventure', 'Science Fiction', 'Fantasy', None, None, None)
(407451, 'A Wrinkle in Time', 103000000, '5.0', 132675864, datetime.datetime(2018, 3, 8, 0, 0), 109.0, 'Adventure', 'Science Fiction', 'Family', 'Fantasy', None, None, None)
(337167, 'Fifty Shades Freed', 55000000, 6.2, 368307760, datetime.datetime(2018, 1, 17, 0, 0), 105.0, 'Drama', 'Romance', None, None, None, None, None)
(420814, 'Christopher Robin', 75000000, 7.4, 99138899, datetime.datetime(2018, 8, 2, 0, 0), 104.0, 'Adventure', 'Comedy', 'Family', 'Fantasy', None, None, None)
(490132, 'Green Book', 23000000, 8.3, 319700000, datetime.datetime(2018, 11, 16, 0, 0), 130.0, 'Drama', 'Comedy', None, None, None, None, None)
(470878, 'I Can Only Imagine', 0, 7.6, 0, datetime.datetime(2018, 2, 14, 0, 0), 110.0, 'Drama', 'Family', 'Music', None, None, None, None)
(446894, 'Smallfoot', 0, 6.7, 0, datetime.datetime(2018, 9, 20, 0, 0), 96.0, 'Animation', 'Family', 'Adventure', 'Fantasy', None, None, None)
(454293, 'Night School', 29000000, '6.0', 33157615, datetime.datetime(2018, 9, 27, 0, 0), 111.0, 'Comedy', None, None, None, None, None, None)
(442249, 'The First Purge', 13000000, 5.8, 41953945, datetime.datetime(2018, 7, 4, 0, 0), 97.0, 'Action', 'Science Fiction', 'Thriller', 'Horror', None, None, None)
(445571, 'Game Night', 37000000, 6.9, 117501013, datetime.datetime(2018, 2, 22, 0, 0), 100.0, 'Mystery', 'Comedy', 'Crime', None, None, None, None)
(502682, 'Book Club', 10000000, 6.1, 78720293, datetime.datetime(2018, 5, 18, 0, 0), 104.0, 'Comedy', 'Romance', 'Drama', None, None, None, None)
(463821, 'The House with a Clock in Its Walls', 42000000, 6.2, 29950000, datetime.datetime(2018, 9, 15, 0, 0), 106.0, 'Fantasy', 'Family', None, None, None, None, None)
(447200, 'Skyscraper', 125000000, 6.1, 292351275, datetime.datetime(2018, 7, 11, 0, 0), 102.0, 'Action', None, None, None, None, None, None)
(406563, 'Insidious: The Last Key', 10000000, 6.1, 167184112, datetime.datetime(2018, 1, 3, 0, 0), 118.0, 'Mystery', 'Horror', 'Thriller', None, None, None, None)
(491418, 'Instant Family', 48000000, 7.6, 14700000, datetime.datetime(2018, 11, 16, 0, 0), 118.0, 'Comedy', 'Drama', 'Family', None, None, None, None)
(437557, 'Blockers', 21000000, 6.2, 93674786, datetime.datetime(2018, 3, 14, 0, 0), 102.0, 'Comedy', None, None, None, None, None, None)
(268896, 'Pacific Rim: Uprising', 150000000, 5.9, 290061297, datetime.datetime(2018, 3, 21, 0, 0), 111.0, 'Action', 'Fantasy', 'Science Fiction', 'Adventure', None, None, None)
(338970, 'Tomb Raider', 94000000, 6.3, 274650803, datetime.datetime(2018, 3, 5, 0, 0), 118.0, 'Action', 'Adventure', 'Fantasy', None, None, None, None)
(336843, 'Maze Runner: The Death Cure', 62000000, 7.1, 284881603, datetime.datetime(2018, 1, 10, 0, 0), 144.0, 'Action', 'Science Fiction', None, None, None, None, None)
(426543, 'The Nutcracker and the Four Realms', 120000000, '6.0', 59522646, datetime.datetime(2018, 10, 26, 0, 0), 99.0, 'Fantasy', 'Adventure', 'Family', None, None, None, None)
(455980, 'Tag', 28000000, 6.7, 75100000, datetime.datetime(2018, 5, 30, 0, 0), 100.0, 'Comedy', 'Drama', None, None, None, None, None)
(484247, 'A Simple Favor', 20000000, 6.6, 53542417, datetime.datetime(2018, 8, 29, 0, 0), 117.0, 'Thriller', 'Crime', 'Mystery', 'Comedy', 'Drama', None, None)
(399796, 'Life of the Party', 30000000, 6.2, 61700416, datetime.datetime(2018, 5, 10, 0, 0), 105.0, 'Comedy', None, None, None, None, None, None)
(346910, 'The Predator', 88000000, 5.3, 160542134, datetime.datetime(2018, 9, 5, 0, 0), 107.0, 'Science Fiction', 'Action', 'Thriller', 'Adventure', 'Horror', None, None)
(454619, 'Overboard', 12000000, 6.3, 91244913, datetime.datetime(2018, 5, 3, 0, 0), 112.0, 'Romance', 'Comedy', None, None, None, None, None)
(400535, 'Sicario: Day of the Soldado', 35000000, 6.7, 75836683, datetime.datetime(2018, 6, 27, 0, 0), 123.0, 'Action', 'Crime', 'Drama', 'Thriller', None, None, None)
(487558, 'BlacKkKlansman', 15000000, 7.6, 48686605, datetime.datetime(2018, 7, 30, 0, 0), 135.0, 'Crime', 'Drama', None, None, None, None, None)
(460668, 'I Feel Pretty', 32000000, 6.4, 51748264, datetime.datetime(2018, 4, 19, 0, 0), 111.0, 'Comedy', None, None, None, None, None, None)
(429197, 'Vice', 60000000, 7.1, 66266401, datetime.datetime(2018, 12, 25, 0, 0), 132.0, 'Drama', 'History', 'Comedy', None, None, None, None)
(401981, 'Red Sparrow', 69000000, 6.5, 147988192, datetime.datetime(2018, 2, 28, 0, 0), 140.0, 'Mystery', 'Thriller', None, None, None, None, None)
(497814, 'Breaking In', 6000000, 5.8, 49078000, datetime.datetime(2018, 5, 5, 0, 0), 88.0, 'Thriller', 'Crime', 'Action', None, None, None, None)
(442062, 'Goosebumps 2: Haunted Halloween', 35000000, 5.7, 92503612, datetime.datetime(2018, 10, 11, 0, 0), 90.0, 'Adventure', 'Comedy', 'Fantasy', 'Family', 'Horror', None, None)
(429351, '12 Strong', 35000000, 5.7, 67131266, datetime.datetime(2018, 1, 16, 0, 0), 130.0, 'Drama', 'Action', 'History', 'War', None, None, None)
(449443, 'Den of Thieves', 30000000, 6.6, 80509622, datetime.datetime(2018, 1, 18, 0, 0), 140.0, 'Action', 'Thriller', 'Crime', None, None, None, None)
(369972, 'First Man', 70000000, 7.1, 100546153, datetime.datetime(2018, 10, 11, 0, 0), 141.0, 'History', 'Drama', None, None, None, None, None)
(493922, 'Hereditary', 10000000, '7.0', 79336821, datetime.datetime(2018, 6, 7, 0, 0), 127.0, 'Horror', 'Mystery', 'Thriller', None, None, None, None)
(464502, 'Acrimony', 20000000, 6.6, 34764055, datetime.datetime(2018, 3, 30, 0, 0), 120.0, 'Thriller', None, None, None, None, None, None)
(370567, 'Sherlock Gnomes', 59000000, 5.5, 87625666, datetime.datetime(2018, 3, 15, 0, 0), 86.0, 'Romance', 'Animation', 'Comedy', 'Family', 'Fantasy', 'Mystery', 'Adventure')
(474335, 'Uncle Drew', 19000000, 6.5, 17665000, datetime.datetime(2018, 6, 27, 0, 0), 103.0, 'Comedy', None, None, None, None, None, None)
(401469, 'Widows', 42000000, 6.5, 73866088, datetime.datetime(2018, 11, 6, 0, 0), 129.0, 'Crime', 'Thriller', None, None, None, None, None)
(460019, 'Truth or Dare', 3500000, '6.0', 94841481, datetime.datetime(2018, 4, 12, 0, 0), 100.0, 'Thriller', 'Horror', None, None, None, None, None)
(346648, 'Paddington 2', 40000000, 7.5, 185847106, datetime.datetime(2017, 11, 9, 0, 0), 104.0, 'Adventure', 'Comedy', 'Family', None, None, None, None)
(449176, 'Love, Simon', 17000000, 8.1, 60848932, datetime.datetime(2018, 2, 16, 0, 0), 110.0, 'Comedy', 'Drama', 'Romance', None, None, None, None)
(503616, 'Second Act', 16000000, 6.2, 72282227, datetime.datetime(2018, 11, 22, 0, 0), 100.0, 'Romance', 'Comedy', None, None, None, None, None)
(399035, 'The Commuter', 30000000, 6.2, 119942387, datetime.datetime(2018, 1, 11, 0, 0), 104.0, 'Action', 'Thriller', None, None, None, None, None)
(453201, 'The 15:17 to Paris', 30000000, 5.3, 56150957, datetime.datetime(2018, 2, 2, 0, 0), 94.0, 'Drama', 'History', 'Thriller', None, None, None, None)
(347375, 'Mile 22', 35000000, '6.0', 0, datetime.datetime(2018, 8, 16, 0, 0), 95.0, 'Action', 'Thriller', None, None, None, None, None)
(399360, 'Alpha', 51000000, '6.0', 35808437, datetime.datetime(2018, 8, 17, 0, 0), 97.0, 'Adventure', 'Drama', None, None, None, None, None)
(458594, 'Peppermint', 25000000, 6.5, 48818723, datetime.datetime(2018, 9, 6, 0, 0), 102.0, 'Action', 'Thriller', None, None, None, None, None)
(375262, 'The Favourite', 15000000, 7.6, 82124805, datetime.datetime(2018, 11, 23, 0, 0), 120.0, 'Drama', 'History', 'Comedy', None, None, None, None)
(395990, 'Death Wish', 30000000, 5.9, 34017028, datetime.datetime(2018, 3, 2, 0, 0), 107.0, 'Action', 'Crime', 'Drama', 'Thriller', None, None, None)
(454992, 'The Spy Who Dumped Me', 40000000, 6.4, 33562069, datetime.datetime(2018, 8, 2, 0, 0), 117.0, 'Action', 'Comedy', None, None, None, None, None)
(300668, 'Annihilation', 40000000, 6.3, 43070915, datetime.datetime(2018, 2, 22, 0, 0), 115.0, 'Science Fiction', 'Horror', None, None, None, None, None)
(399174, 'Isle of Dogs', 62770198, 7.9, 64207623, datetime.datetime(2018, 3, 23, 0, 0), 101.0, 'Adventure', 'Comedy', 'Animation', None, None, None, None)
(514619, "Nobody's Fool", 19000000, 6.1, 29152618, datetime.datetime(2018, 11, 2, 0, 0), 110.0, 'Comedy', 'Drama', 'Romance', None, None, None, None)
(429300, 'Adrift', 35000000, 6.8, 4230000, datetime.datetime(2018, 5, 31, 0, 0), 96.0, 'Thriller', 'Romance', 'Adventure', None, None, None, None)
(375588, 'Robin Hood', 100000000, 5.8, 73260114, datetime.datetime(2018, 11, 21, 0, 0), 116.0, 'Adventure', 'Action', 'Thriller', None, None, None, None)
(50022, 'Super Troopers 2', 13500000, 5.8, 18850674, datetime.datetime(2018, 4, 19, 0, 0), 100.0, 'Comedy', 'Crime', 'Mystery', None, None, None, None)
(426563, 'Holmes & Watson', 42000000, 4.4, 40462793, datetime.datetime(2018, 12, 25, 0, 0), 90.0, 'Mystery', 'Adventure', 'Comedy', 'Crime', None, None, None)
(439015, 'Slender Man', 10000000, '4.0', 11817275, datetime.datetime(2018, 8, 10, 0, 0), 93.0, 'Mystery', 'Thriller', 'Horror', None, None, None, None)
(474395, 'Teen Titans Go! To the Movies', 10000000, '7.0', 28646544, datetime.datetime(2018, 7, 27, 0, 0), 85.0, 'Animation', 'Action', 'Comedy', 'Science Fiction', None, None, None)
(470044, 'The Hate U Give', 23000000, 8.2, 29163535, datetime.datetime(2018, 10, 19, 0, 0), 133.0, 'Crime', 'Drama', None, None, None, None, None)
(489999, 'Searching', 1000000, 7.6, 66265218, datetime.datetime(2018, 8, 24, 0, 0), 103.0, 'Thriller', 'Mystery', 'Drama', None, None, None, None)
(416234, 'Winchester', 3500000, 5.8, 25091816, datetime.datetime(2018, 2, 2, 0, 0), 100.0, 'Fantasy', 'Mystery', 'Thriller', 'Horror', None, None, None)
(339380, 'On the Basis of Sex', 0, 7.4, 0, datetime.datetime(2018, 12, 25, 0, 0), 120.0, 'Drama', 'History', None, None, None, None, None)
(371608, 'The Strangers: Prey at Night', 12500000, 5.4, 24586708, datetime.datetime(2018, 3, 7, 0, 0), 85.0, 'Horror', 'Thriller', None, None, None, None, None)
(438808, 'White Boy Rick', 29000000, 6.3, 26000000, datetime.datetime(2018, 9, 14, 0, 0), 116.0, 'Crime', 'Drama', None, None, None, None, None)
(490003, "Won't You Be My Neighbor?", 0, 8.3, 22835787, datetime.datetime(2018, 6, 8, 0, 0), 93.0, 'Documentary', None, None, None, None, None, None)
(438799, 'Overlord', 38000000, 6.6, 41657844, datetime.datetime(2018, 11, 1, 0, 0), 110.0, 'Horror', 'War', 'Science Fiction', None, None, None, None)

In [123]:
cursor.execute("""SELECT original_title, revenue
FROM top_movies_info
WHERE vote_average>8 """)

In [117]:
for original_title, revenue in cursor:
    print(f'{original_title} made {revenue}')

Avengers: Infinity War made 2046239637
Bohemian Rhapsody made 894027543
Spider-Man: Into the Spider-Verse made 375450417
Green Book made 319700000
Love, Simon made 60848932
The Hate U Give made 29163535
Won't You Be My Neighbor? made 22835787

In [124]:
df = pd.DataFrame(cursor.fetchall())
df.columns = [x[0] for x in cursor.description]
df

                      original_title     revenue
0             Avengers: Infinity War  2046239637
1                  Bohemian Rhapsody   894027543
2  Spider-Man: Into the Spider-Verse   375450417
3                         Green Book   319700000
4                        Love, Simon    60848932
5                    The Hate U Give    29163535
6          Won't You Be My Neighbor?    22835787

In [105]:
import pandas as pd

In [130]:
cursor.execute("""SELECT original_title, revenue FROM top_movies_info
JOIN dvd_2018
ON name = original_title""")
df = pd.DataFrame(cursor.fetchall())
df.columns = [x[0] for x in cursor.description]
df

                           original_title     revenue
0                           Black Panther  1346739107
1          Jurassic World: Fallen Kingdom  1303459585
2                  Avengers: Infinity War  2046239637
3                              Deadpool 2   741547413
4                           Incredibles 2  1241891456
5   Hotel Transylvania 3: Summer Vacation   100176000
6                      I Can Only Imagine           0
7                      Fifty Shades Freed   368307760
8                 Solo: A Star Wars Story   392952373
9                                   Venom   855013954
10                   Ant-Man and the Wasp   622674139
11                             Skyscraper   292351275
12                           Peter Rabbit   351266433
13                      Christopher Robin    99138899
14                              Smallfoot           0
15                        The Equalizer 2   102084362
16                          A Quiet Place   340677200
17                             Robin Hood    73260114
18            Maze Runner: The Death Cure   284881603
19                               Acrimony    34764055
20                  Pacific Rim: Uprising   290061297
21                              Book Club    78720293
22                      A Wrinkle in Time   132675864
23    The House with a Clock in Its Walls    29950000
24                             Game Night   117501013
25                               Blockers    93674786
26                            Red Sparrow   147988192
27                          Black Panther  1346739107
28         Jurassic World: Fallen Kingdom  1303459585
29                 Avengers: Infinity War  2046239637
30                             Deadpool 2   741547413
31                          Incredibles 2  1241891456
32  Hotel Transylvania 3: Summer Vacation   100176000
33                     I Can Only Imagine           0
34                     Fifty Shades Freed   368307760
35                Solo: A Star Wars Story   392952373
36                                  Venom   855013954
37                   Ant-Man and the Wasp   622674139
38                             Skyscraper   292351275
39                           Peter Rabbit   351266433
40                      Christopher Robin    99138899
41                              Smallfoot           0
42                        The Equalizer 2   102084362
43                          A Quiet Place   340677200
44                             Robin Hood    73260114
45            Maze Runner: The Death Cure   284881603
46                               Acrimony    34764055
47                  Pacific Rim: Uprising   290061297
48                              Book Club    78720293
49                      A Wrinkle in Time   132675864
50    The House with a Clock in Its Walls    29950000
51                             Game Night   117501013
52                               Blockers    93674786
53                            Red Sparrow   147988192

OperationalError: 2055: Lost connection to MySQL server at 'movie.cgmebsvbtfzd.us-east-2.rds.amazonaws.com:3306', system error: 54 Connection reset by peer